/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

//  bootstrap
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content:"";
  display: block;
  clear: both;
}

body{
	background-color:#FDF5E6;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	padding-bottom: 120px;
	box-sizing: border-box;
}

// 背景画像
.main-image{
	background-image: url("onsen1.jpg");
	height: 500px;
	background-size: cover;
	background-position: center;
}

// メニューバー
.nav-main{
	margin-top:10px;
	margin-bottom:20px;
}

.nav-justified li{
	
	border-right: 1px solid #FFE4C4;
	background-color:#e9967a;
	&:hover{
		background-color:black;
	}
}

.sample_selecting{
	color:black;
	&:hover{
		color:#B22222;
	}
}

// メニューバーここまで



// フッター
footer{
	width:100%;
	text-align: center;
	padding: 20px 0;
	background-color: #848282;
	color:white;
	position: absolute;
	bottom: 0;
}