// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .form-body{
//   height: 500px;
// }

.form-body{
  border: 1px solid black;
  padding-top: 10px;
}

.form-group{
  margin-bottom:10px;
}

.check{
  margin-top:10px;
}

.text-box{
  padding:0;
}