
<%# メニューバー %>

  <nav class="nav-main">
    <ul class="nav nav-justified">
      <li>
        <%= link_to '温泉ランキング', hot_springs_ranking_path, class: "sample_selecting" %>
      </li>


      <li>
        <%= link_to 'お気に入り', bookmarks_path, class: "sample_selecting" %>
      </li>
    </ul>
  </nav>
  

